/* body {
    font-family: arial;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

input, select {
    width: 200px;
}

button {
    background-color: blue;
    color: white;
}

#transactionList li {
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
} */
 h1{
    color: blueviolet;
 }
 .form-container h2{

    }
